.elementor-8 .elementor-element.elementor-element-36602b8:not(.elementor-motion-effects-element-type-background),
.elementor-8 .elementor-element.elementor-element-36602b8>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #1C2123;
}

.elementor-8 .elementor-element.elementor-element-36602b8 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 80px 0px 80px 0px;
}

.elementor-8 .elementor-element.elementor-element-36602b8>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-bc-flex-widget .elementor-8 .elementor-element.elementor-element-d365e0f.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-8 .elementor-element.elementor-element-d365e0f.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-8 .elementor-element.elementor-element-d365e0f.elementor-column>.elementor-widget-wrap {
    justify-content: center;
}

.elementor-8 .elementor-element.elementor-element-d365e0f>.elementor-element-populated {
    padding: 0px 0px 0px 0px;
}

.elementor-8 .elementor-element.elementor-element-6445f72 {
    --divider-border-style: solid;
    --divider-color: #DC9457;
    --divider-border-width: 3px;
}

.elementor-8 .elementor-element.elementor-element-6445f72 .elementor-divider-separator {
    width: 100%;
}

.elementor-8 .elementor-element.elementor-element-6445f72 .elementor-divider {
    padding-top: 15px;
    padding-bottom: 15px;
}

.elementor-8 .elementor-element.elementor-element-4cfdf1e {
    text-align: center;
    width: auto;
    max-width: auto;
    z-index: 2;
}

.elementor-8 .elementor-element.elementor-element-4cfdf1e .elementor-heading-title {
    color: #DC9457;
    font-family: "Rubik", Sans-serif;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
}

.elementor-8 .elementor-element.elementor-element-4cfdf1e>.elementor-widget-container {
    margin: -32px 0px 0px 0px;
    padding: 6px 20px 6px 20px;
    background-color: #1C2123;
}

.elementor-8 .elementor-element.elementor-element-3479b42 {
    margin-top: 40px;
    margin-bottom: 0px;
}

.elementor-bc-flex-widget .elementor-8 .elementor-element.elementor-element-65f67eb.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-8 .elementor-element.elementor-element-65f67eb.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-8 .elementor-element.elementor-element-65f67eb>.elementor-element-populated {
    padding: 0px 0px 0px 0px;
}

.elementor-8 .elementor-element.elementor-element-09ce49c {
    text-align: right;
    color: #FFFFFF;
    font-family: "Rubik", Sans-serif;
    font-size: 20px;
    line-height: 1.4em;
}

.elementor-8 .elementor-element.elementor-element-09ce49c>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0% 0% 0% 30%;
}

.elementor-bc-flex-widget .elementor-8 .elementor-element.elementor-element-223a25a.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-8 .elementor-element.elementor-element-223a25a.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-8 .elementor-element.elementor-element-223a25a>.elementor-element-populated {
    padding: 0px 0px 0px 60px;
}

.elementor-8 .elementor-element.elementor-element-b381b8b {
    width: auto;
    max-width: auto;
}

.elementor-8 .elementor-element.elementor-element-bf1cd89:not(.elementor-motion-effects-element-type-background),
.elementor-8 .elementor-element.elementor-element-bf1cd89>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #FFFFFF;
}

.elementor-8 .elementor-element.elementor-element-bf1cd89 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 80px 0px 80px 0px;
}

.elementor-8 .elementor-element.elementor-element-bf1cd89>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-8 .elementor-element.elementor-element-49f458b>.elementor-element-populated {
    margin: 0% 20% 0% 20%;
    --e-column-margin-right: 20%;
    --e-column-margin-left: 20%;
}

.elementor-8 .elementor-element.elementor-element-452c200 img {
    width: 320px;
}

.elementor-8 .elementor-element.elementor-element-808b43b {
    margin-top: 40px;
    margin-bottom: 0px;
}

.elementor-8 .elementor-element.elementor-element-67fe58a>.elementor-element-populated {
    padding: 0px 60px 0px 80px;
}

.elementor-8 .elementor-element.elementor-element-4e38855 {
    color: #1C2123;
}

.elementor-8 .elementor-element.elementor-element-1e56909 .elementor-heading-title {
    color: #1C2123;
    font-weight: 600;
}

.elementor-8 .elementor-element.elementor-element-1e56909>.elementor-widget-container {
    margin: 20px 0px 0px 0px;
}

.elementor-8 .elementor-element.elementor-element-c9a2a15 .elementor-heading-title {
    color: #1C2123;
    font-family: "Rubik", Sans-serif;
    font-weight: 600;
}

.elementor-8 .elementor-element.elementor-element-c9a2a15>.elementor-widget-container {
    margin: 10px 0px 0px 0px;
}

.elementor-8 .elementor-element.elementor-element-0898a5d>.elementor-element-populated {
    padding: 0px 0px 0px 0px;
}

.elementor-8 .elementor-element.elementor-element-a7d5821 .elementor-icon-list-icon i {
    transition: color 0.3s;
}

.elementor-8 .elementor-element.elementor-element-a7d5821 .elementor-icon-list-icon svg {
    transition: fill 0.3s;
}

.elementor-8 .elementor-element.elementor-element-a7d5821 {
    --e-icon-list-icon-size: 14px;
    --icon-vertical-offset: 0px;
}

.elementor-8 .elementor-element.elementor-element-a7d5821 .elementor-icon-list-text {
    color: #1C2123;
    transition: color 0.3s;
}

.elementor-8 .elementor-element.elementor-element-70fc1ca:not(.elementor-motion-effects-element-type-background),
.elementor-8 .elementor-element.elementor-element-70fc1ca>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #FFFFFF;
}

.elementor-8 .elementor-element.elementor-element-70fc1ca {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px 0px 60px 0px;
}

.elementor-8 .elementor-element.elementor-element-70fc1ca>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-bc-flex-widget .elementor-8 .elementor-element.elementor-element-037b945.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-8 .elementor-element.elementor-element-037b945.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-8 .elementor-element.elementor-element-037b945>.elementor-element-populated {
    padding: 0px 0px 0px 0px;
}

.elementor-8 .elementor-element.elementor-element-2229cb7 .elementor-heading-title {
    color: #1C2123;
    font-family: "Rubik", Sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
}

.elementor-bc-flex-widget .elementor-8 .elementor-element.elementor-element-fe70380.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-8 .elementor-element.elementor-element-fe70380.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-8 .elementor-element.elementor-element-fe70380>.elementor-element-populated {
    padding: 0px 0px 0px 0px;
}

.elementor-8 .elementor-element.elementor-element-95f1df5 {
    text-align: right;
}

.elementor-8 .elementor-element.elementor-element-95f1df5 .elementor-heading-title {
    color: #1C2123;
    font-family: "Pacifico", Sans-serif;
    font-size: 30px;
    font-weight: 400;
}

@media(max-width:1024px) {
    .elementor-8 .elementor-element.elementor-element-36602b8 {
        padding: 60px 20px 60px 20px;
    }
    .elementor-8 .elementor-element.elementor-element-65f67eb>.elementor-element-populated {
        padding: 0px 0px 0px 0px;
    }
    .elementor-8 .elementor-element.elementor-element-223a25a>.elementor-element-populated {
        padding: 0px 0px 0px 40px;
    }
    .elementor-8 .elementor-element.elementor-element-49f458b>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
        padding: 0px 0px 0px 0px;
    }
    .elementor-8 .elementor-element.elementor-element-808b43b {
        margin-top: 20px;
        margin-bottom: 0px;
    }
    .elementor-8 .elementor-element.elementor-element-70fc1ca {
        padding: 0px 20px 40px 20px;
    }
}

@media(max-width:767px) {
    .elementor-8 .elementor-element.elementor-element-36602b8 {
        padding: 60px 20px 60px 20px;
    }
    .elementor-8 .elementor-element.elementor-element-d365e0f>.elementor-element-populated {
        padding: 0px 20px 0px 20px;
    }
    .elementor-8 .elementor-element.elementor-element-65f67eb>.elementor-element-populated {
        margin: 0px 0px 20px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }
    .elementor-8 .elementor-element.elementor-element-09ce49c {
        text-align: center;
    }
    .elementor-8 .elementor-element.elementor-element-223a25a.elementor-column>.elementor-widget-wrap {
        justify-content: center;
    }
    .elementor-8 .elementor-element.elementor-element-223a25a>.elementor-element-populated {
        padding: 0px 0px 0px 0px;
    }
    .elementor-8 .elementor-element.elementor-element-bf1cd89 {
        padding: 60px 0px 60px 0px;
    }
    .elementor-8 .elementor-element.elementor-element-452c200 img {
        width: 240px;
    }
    .elementor-8 .elementor-element.elementor-element-67fe58a {
        width: 100%;
    }
    .elementor-8 .elementor-element.elementor-element-67fe58a>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
        padding: 0px 20px 0px 20px;
    }
    .elementor-8 .elementor-element.elementor-element-4e38855 {
        text-align: center;
    }
    .elementor-8 .elementor-element.elementor-element-1e56909 {
        text-align: center;
    }
    .elementor-8 .elementor-element.elementor-element-c9a2a15 {
        text-align: center;
    }
    .elementor-8 .elementor-element.elementor-element-0898a5d>.elementor-element-populated {
        padding: 0px 20px 0px 20px;
    }
    .elementor-8 .elementor-element.elementor-element-a7d5821>.elementor-widget-container {
        margin: 30px 0px 0px 0px;
    }
    .elementor-8 .elementor-element.elementor-element-70fc1ca {
        padding: 0px 40px 40px 40px;
    }
    .elementor-8 .elementor-element.elementor-element-2229cb7 {
        text-align: center;
    }
    .elementor-8 .elementor-element.elementor-element-2229cb7 .elementor-heading-title {
        line-height: 1.5em;
    }
    .elementor-8 .elementor-element.elementor-element-2229cb7>.elementor-widget-container {
        margin: 0px 40px 0px 40px;
    }
    .elementor-8 .elementor-element.elementor-element-95f1df5 {
        text-align: center;
    }
    .elementor-8 .elementor-element.elementor-element-95f1df5>.elementor-widget-container {
        margin: 20px 0px 10px 0px;
    }
}

@media(min-width:768px) {
    .elementor-8 .elementor-element.elementor-element-65f67eb {
        width: 40%;
    }
    .elementor-8 .elementor-element.elementor-element-223a25a {
        width: 60%;
    }
    .elementor-8 .elementor-element.elementor-element-67fe58a {
        width: 66%;
    }
    .elementor-8 .elementor-element.elementor-element-0898a5d {
        width: 34%;
    }
}

@media(max-width:1024px) and (min-width:768px) {
    .elementor-8 .elementor-element.elementor-element-65f67eb {
        width: 33%;
    }
    .elementor-8 .elementor-element.elementor-element-223a25a {
        width: 67%;
    }
    .elementor-8 .elementor-element.elementor-element-67fe58a {
        width: 60%;
    }
}